<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sticker</key>
	<array>
		<array>
			<dict>
				<key>stickerName</key>
				<string>128_1</string>
				<key>imageName</key>
				<string>128_1</string>
			</dict>
            <dict>
                <key>stickerName</key>
                <string>128_2</string>
                <key>imageName</key>
                <string>128_2</string>
            </dict>
            <dict>
                <key>stickerName</key>
                <string>128_3</string>
                <key>imageName</key>
                <string>128_3</string>
            </dict>
            <dict>
                <key>stickerName</key>
                <string>128_4</string>
                <key>imageName</key>
                <string>128_4</string>
            </dict>
            <dict>
                <key>stickerName</key>
                <string>128_5</string>
                <key>imageName</key>
                <string>128_5</string>
            </dict>
            <dict>
                <key>stickerName</key>
                <string>128_6</string>
                <key>imageName</key>
                <string>128_6</string>
            </dict>
            <dict>
                <key>stickerName</key>
                <string>128_7</string>
                <key>imageName</key>
                <string>128_7</string>
            </dict>
            <dict>
                <key>stickerName</key>
                <string>128_8</string>
                <key>imageName</key>
                <string>128_8</string>
            </dict>
            <dict>
                <key>stickerName</key>
                <string>128_9</string>
                <key>imageName</key>
                <string>128_9</string>
            </dict>
            <dict>
                <key>stickerName</key>
                <string>128_12</string>
                <key>imageName</key>
                <string>128_12</string>
            </dict>
            <dict>
                <key>stickerName</key>
                <string>128_19</string>
                <key>imageName</key>
                <string>128_19</string>
            </dict>
            <dict>
                <key>stickerName</key>
                <string>128_20</string>
                <key>imageName</key>
                <string>128_20</string>
            </dict>
            <dict>
                <key>stickerName</key>
                <string>128_35</string>
                <key>imageName</key>
                <string>128_35</string>
            </dict>
            <dict>
                <key>stickerName</key>
                <string>128_36</string>
                <key>imageName</key>
                <string>128_36</string>
            </dict>
            <dict>
                <key>stickerName</key>
                <string>128_38</string>
                <key>imageName</key>
                <string>128_38</string>
            </dict>
            <dict>
                <key>stickerName</key>
                <string>128_39</string>
                <key>imageName</key>
                <string>128_39</string>
            </dict>
		</array>
	</array>
	<key>emoticon</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>free2-1</string>
			<key>emoticonName</key>
			<string>(우웩)</string>
		</dict>
        <dict>
            <key>imageName</key>
            <string>free2-2</string>
            <key>emoticonName</key>
            <string>(못난이)</string>
        </dict>
        <dict>
            <key>imageName</key>
            <string>free2-3</string>
            <key>emoticonName</key>
            <string>(해골)</string>
        </dict>
        <dict>
            <key>imageName</key>
            <string>free2-4</string>
            <key>emoticonName</key>
            <string>(띠옹)</string>
        </dict>
        <dict>
            <key>imageName</key>
            <string>free2-5</string>
            <key>emoticonName</key>
            <string>(윽)</string>
        </dict>
        <dict>
            <key>imageName</key>
            <string>free2-6</string>
            <key>emoticonName</key>
            <string>(더럽)</string>
        </dict>
        <dict>
            <key>imageName</key>
            <string>free2-7</string>
            <key>emoticonName</key>
            <string>(삐)</string>
        </dict>
        <dict>
            <key>imageName</key>
            <string>free2-8</string>
            <key>emoticonName</key>
            <string>(비열)</string>
        </dict>
        <dict>
            <key>imageName</key>
            <string>free2-9</string>
            <key>emoticonName</key>
            <string>(우웩1)</string>
        </dict>
        <dict>
            <key>imageName</key>
            <string>free2-10</string>
            <key>emoticonName</key>
            <string>(우웩2)</string>
        </dict>
        <dict>
            <key>imageName</key>
            <string>free2-11</string>
            <key>emoticonName</key>
            <string>(우웩3)</string>
        </dict>
        <dict>
            <key>imageName</key>
            <string>free2-12</string>
            <key>emoticonName</key>
            <string>(우웩4)</string>
        </dict>
        <dict>
            <key>imageName</key>
            <string>free2-13</string>
            <key>emoticonName</key>
            <string>(우웩)</string>
        </dict>
        <dict>
            <key>imageName</key>
            <string>free2-14</string>
            <key>emoticonName</key>
            <string>(우웩5)</string>
        </dict>
        <dict>
            <key>imageName</key>
            <string>free2-15</string>
            <key>emoticonName</key>
            <string>(우웩6)</string>
        </dict>
        <dict>
            <key>imageName</key>
            <string>free2-16</string>
            <key>emoticonName</key>
            <string>(우웩7)</string>
        </dict>
        <dict>
            <key>imageName</key>
            <string>free2-17</string>
            <key>emoticonName</key>
            <string>(우웩8)</string>
        </dict>
        <dict>
            <key>imageName</key>
            <string>free2-18</string>
            <key>emoticonName</key>
            <string>(우웩9)</string>
        </dict>
        
	</array>
</dict>
</plist>
